.amount {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;

    width: calc(100% - 30px);
    height: 30%;
    min-height: 200px;

    background-color: #191C18;
    border-radius: 5px;
    

    
    overflow: hidden;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.amount h1{
    font-size: 45px;
    color: #D3350D;
}

.amount h2{
    font-size: 55px;
    color: #E0F2E9;
}

.amount_tittle{
    width: 100%;
}

.amount_subtittle{
    width: 100%;
}