#balance{
    width: calc(30% - 10px);
    height: calc(20% - 30px);
    float: right;
    margin: var(--margin-default-width) var(--margin-default-width) 0px 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-wrap:normal;
}

@media screen and (max-width: 900px){
    #balance{
        width: 100%;
        height: 15%;
        margin: var(--margin-default-width) 0px 0px var(--margin-default-width);
    }
}

#balance h2,h3{
    line-height: 1em;
}

