header{
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* margin: 0px var(--margin-default-width) 0px var(--margin-default-width); */
}

header img{
    height: clamp(20px, 1.5vw + 1.3rem, 60px);
}

#header1{
    cursor: pointer;
}