header{
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-0);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#header-logo > img{
    height: clamp(35px,2.5vw,55px);
    margin-top: 10px;
    cursor: pointer;
}
