#seccion_lateral{
    width: calc(25% - 10px);
    height: calc(100% - 20px);
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #191C18;
}

@media screen and (max-width: 1000px){
    #seccion_lateral{
        width: calc(100% - 20px);
        height: 30%;
        margin-left: 10px;
        margin-top: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #e0f2e90a;
    }
}

aside input{
    width: calc(100% - 30px);
    height: 45px;
    margin: 10px;

    border-radius: 10px;
    border-style: none;
    outline: none;

    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;

    background-color: #7D8686;
    color:#191C18;
    
}

.lateral_contenido{
    width: 100%;
    height: calc(90% - 20px);
    overflow: scroll;
    scrollbar-width: none;
}

.nueva_tarjeta{
    width: calc(100% - 40px);
    margin-left: 10px;
    margin-top: 10px;

    height: auto;

    background-color: #2D312D;
    border-radius: 5px;
    padding: 10px;

    scale: 1.0;
    transition-duration: 0.25s;  
}

.nueva_tarjeta:hover{
    scale: 1.01;
    transition-duration: 0.25s;
    background-color: #414641;

}

.tarjeta_fecha{
    width: 100%;
    height: 10%;
    text-align: right;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
    line-height: 17px;

    color: #E0F2E9;
}

.tarjeta_titulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #D3350D;
}

.tarjeta_tags{
    width: 100%;
    height: 10%;
}

.tarjeta_descr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;

    color: #E0F2E9;
}

.tarjeta_monto{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #D3350D;
}