#side-bar{
    width: 25%;
    height: calc(100% - 20px);
    float:left;
    margin:var(--margin-default-width) 0px var(--margin-default-width) var(--margin-default-width);
    background-color: var(--color-1);
    overflow:hidden;
}

@media screen and (max-width: 500px){
    #side-bar{
        width: calc(100% - 20px);
        height: 30%;
        margin: var(--margin-default-width) 0px 0px var(--margin-default-width);
        border-style: solid;
        border-width: var(--border-default-width);
        border-color: var(--color-4);
    }
}

#side-bar > input{
    width: calc(100% - 20px);
    height: 45px;
    margin: var(--margin-default-width);

    border-radius: 55px;
    border-style:solid;
    border-width: 2px;
    border-color: var(--color-4);
    outline: none;

    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding-left: var(--margin-default-width);

    background-color: var(--color-1);
    color:#e0f2e9c1;
}

.side-bar-content{
    width: 100%;
    height: calc(90% - 20px);
    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: calc(100% - 40px);
    margin: var(--margin-default-width) 0px 0px 0px;

    height: auto;

    background-color: #2D312D;
    border-radius: 15px;
    padding: 10px;

    border-style:solid;
    border-width: 1px;
    border-color: var(--color-4);

    scale: 1.0;
    transition-duration: 0.25s;
}

.card:hover{
    scale: 1.01;
    transition-duration: 0.25s;
    background-color: #414641;
}

.card:hover > .card-delete > .btn-card-delete{
    transition-duration: 0.25s;
    opacity: 1;
}

.btn-card-delete{
    float:left;
    height: 30px;
    width: 50px;
    opacity: 0;

    box-sizing: border-box;
    background-image: url("../ico/delete.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 40%;
    
    margin: 4px 0px 4px 0px;

    background-color: var(--color-2);
    border-style: solid;
    border-radius: 10px;
    border-width: var(--border-default-width);
    border-color:var(--color-1);
}

.card-date{
    width: 40%;
    float:right;

    text-align: right;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: clamp(15px, 1.2em,25px);
    line-height: 17px;

    color: var(--color-3);

    box-sizing: border-box;

    padding: 10px 0px 10px 0px;
    word-break: break-all;
}

.card-tittle{
    width: 55%;
    float:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(25px, 1.2em, 30px);
    line-height: 23px;

    padding: 7px 0px 7px 0px;

    color: var(--color-2); 
    word-break: break-all;
}

.card-tags{
    width: 100%;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    border-top-style: solid;
    border-width: var(--border-default-width);
    border-color: var(--color-4);

}

.card-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;

    padding: 5px 0px 10px 0px;

    color: var(--color-3);
    word-break:keep-all;

    border-bottom-style: solid;
    border-width: var(--border-default-width);
    border-color: var(--color-4);
}

.card-amount{
    width: 50%;
    height: 15%;
    float:right;

    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4px 0px 4px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 505;
    font-size: clamp(20px, 1.2em,30px);
    line-height:normal;
    text-align: right;

    color: var(--color-2);
}

.card-delete{
    width: 100%;
    height: 20%;
}

#if-empty{
    text-align: center;
    margin-top: 50%;
    padding: 0px 20px 0px 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-5);
    visibility: visible;
}