#seccion_lateral{
    width: 25%;
    height: calc(100% - 20px);
    float:left;
    margin:var(--margin-default-width) 0px var(--margin-default-width) var(--margin-default-width);
    background-color: var(--color-1);
    overflow:hidden;
}

@media screen and (max-width: 900px){
    #seccion_lateral{
        width: calc(100% - 20px);
        height: 30%;
        margin: var(--margin-default-width) 0px 0px var(--margin-default-width);
        border-style: solid;
        border-width: var(--border-default-width);
        border-color: var(--color-4);
    }
}

aside input{
    width: calc(100% - 30px);
    height: 45px;
    margin: var(--margin-default-width);

    border-radius: 55px;
    border-style:solid;
    border-width: 2px;
    border-color: var(--color-4);
    outline: none;

    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding-left: var(--margin-default-width);

    background-color: var(--color-1);
    color:#e0f2e9c1;
}

.lateral-contenido{
    width: 100%;
    height: calc(90% - 20px);
    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nueva-tarjeta{
    width: calc(100% - 40px);
    margin: var(--margin-default-width) 0px 0px 0px;

    height: auto;

    background-color: #2D312D;
    border-radius: 5px;
    padding: 10px;

    border-style:solid;
    border-width: 1px;
    border-color: var(--color-4);

    scale: 1.0;
    transition-duration: 0.25s;
}

.nueva-tarjeta:hover{
    scale: 1.01;
    transition-duration: 0.25s;
    background-color: #414641;
}

.nueva-tarjeta:hover > .tarjeta-eliminar > .boton-eliminar-tarjeta{
    transition-duration: 0.25s;
    opacity: 1;
}

.boton-eliminar-tarjeta{
    opacity: 0;
    box-sizing: border-box;
    /* background-color: #414641; */
    background-image: url("../ico/delete.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 20%;
    
    border-style: solid;
    border-width: var(--border-default-width);
    border-color:var(--color-1);
    height: 50%;
    width: 20%;
}

.tarjeta-fecha{
    width: 100%;
    height: 15%;

    text-align: right;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 15px;
    line-height: 17px;

    color: #E0F2E9;

    box-sizing: border-box;
    border-bottom:solid;
    border-bottom-width: 2px;
    border-color: var(--color-4);

    padding: 10px 0px 10px 0px;
}

.tarjeta-titulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(25px, 1vw, 30px);
    line-height: 23px;

    padding: 7px 0px 7px 0px;

    color: var(--color-2);
}

.tarjeta-tags{
    width: 100%;
    padding: 0px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.tarjeta-descr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;

    padding: 5px 0px 5px 0px;

    color: #E0F2E9;

}

.tarjeta-monto{
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4px 0px 4px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: var(--color-2);

    box-sizing: border-box;
    border-bottom:solid;
    border-bottom-width: 2px;
    border-color: var(--color-4);
}

.tarjeta-eliminar{
    width: 100%;
    height: 20%;
}

#if-empty-search{
    text-align: center;
    margin-top: 50px;
    padding: 0px 20px 0px 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-5);
    visibility: visible;
}