#new-card{
    width: calc(30%);
    height: calc(65% - 10px);
    float:right;
    min-height: 300px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){
    #new-card{
        width: 100%;
        height: 35%;
        margin: 0px 0px 0px var(--margin-default-width);
    }
}

#new-card-tittle{
    width: calc(100% - 40px);
    height: 15%;
    display: flex;
    align-items: start;
    justify-content: left;
    
    padding: 0px;
    margin-left: 20px;
}

input{
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-style: none;
    outline: none;
    background-color: var(--color-1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(25px, 2vw, 40px);

    color: var(--color-2);
}

#new-card-tag{
    cursor:ns-resize;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items:center;
    overflow-y: scroll;

    scrollbar-width:none;
    
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color:var(--color-4);
    padding-left:20px;
}

#nuevo_descr{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color-4);
}

textarea{
    width: calc(100% - 30px);
    height: 90%;
    
    border-style: none;
    outline: none;
    scrollbar-width: none;
    resize: none;

    background-color: var(--color-1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: clamp(20px, 2vw, 25px);
    margin-left: 20px;
    margin-right: 10px;

    color: var(--color-3);
    word-wrap:normal;
}

.new-card-amount{
    height: 15%;
    width: calc(100% - 10px);
    display: flex;
    justify-content: right;
    align-items: center;

    border-style: none;
    outline: none;
    background-color: var(--color-1);

    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;

    color: var(--color-2);
    padding-right: 10px;
}

#nuevo_enviar{
    width: 100%;
    height:10%;

    background-color: var(--color-1);

    border-radius: 0px 0px var(--border-radius-default) var(--border-radius-default);
}

.new-card-send{
    width: 100%;
    height: 100%;

    background-color: var(--color-2);
    font-size: clamp(15px, 1.5vw, 25px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: var(--color-1);

    transition:all 0.2s ease;
}

.new-card-send:hover{
    background-color: #d14b29;
    transform: translatey(-5px);
}

#gasto{
    float:left;
    border-bottom-left-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);
}
