.new {
    background-color: #191C18;

    padding: 10px;
    margin:10px;

    width: calc(100% - 40px);
    height: 70%;

    border-radius: 5px;

    min-height: 200px;
    min-width: 200px;

    overflow: hidden;
}

.new_tittle{
    height: 25%;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.new_tag{
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: space-around;
    
    margin-right: 10px;
}

.new_descr{
    height: 40%;
}

.new_submit_btn{
    height: 10%;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.new_tittle_input{
    width: 80%;
    border-style: none;
    outline: none;
    background-color: #191C18;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    color: #D3350D;
    
}

.new_descr_input{
    width: calc(100% - 20px);
    height: 100%;
    
    border-style: none;
    outline: none;
    scrollbar-width: none;
    resize: none;

    background-color: #191C18;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 30px;
    margin-left: 10px;
    padding-right: 10px;
    

    color: #E0F2E9;
    white-space: pre-wrap;
}

button{
    border-style: none;
    border-radius: 50px;
    background-color: #D3350D;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #191C18;
    transition-duration: 0.2s;
}

button:hover{
    background-color: #d14b29;
    scale:1.1;
    transition-duration: 0.2s;
}