#new-card{
    width: calc(30% - 10px);
    height: 60%;
    float:right;
    margin: var(--margin-default-width) var(--margin-default-width) 0px 0px;
}

@media screen and (max-width: 900px){
    #new-card{
        width: 100%;
        height: 35%;
        margin: 0px 0px 0px var(--margin-default-width);
    }
}

#new-card-tittle{
    width: calc(100% - 40px);
    height: 15%;
    display: flex;
    align-items: start;
    justify-content: left;
    
    padding: 0px;
    margin-left: 20px;
}

#nuevo_tag{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start; 
    margin-left: 20px;
    overflow: hidden;
}

#nuevo_descr{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuevo_enviar{
    width: 100%;
    height:10%;

    background-color: var(--color-1);

    border-radius: 0px 0px var(--border-radius-default) var(--border-radius-default);
}

/*corresponde con la seccion nuevo_titulo*/
input{
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-style: none;
    outline: none;
    background-color: var(--color-1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(25px, 2vw, 40px);

    color: var(--color-2);
}

/*corresponde con la seccion nuevo_descr*/
textarea{
    width: calc(100% - 30px);
    height: 90%;
    
    border-style: none;
    outline: none;
    scrollbar-width: none;
    resize: none;

    background-color: var(--color-1);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: clamp(20px, 2vw, 25px);
    margin-left: 20px;
    margin-right: 10px;

    color: var(--color-3);
    word-wrap:normal;
}

/*corresponde con la seccion nuevo_monto*/
.new-card-amount{
    height: 10%;
    width: calc(100% - 10px);
    display: flex;
    justify-content: right;
    align-items: center;

    border-style: none;
    outline: none;
    background-color: var(--color-1);

    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;

    color: var(--color-2);
    padding-right: 10px;
}

.new-card-send{
    width: 100%;
    height: 100%;

    background-color: var(--color-2);
    font-size: clamp(15px, 1.5vw, 25px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: var(--color-1);

    transition-duration: 0.2s;
}

.new-card-send:hover{
    background-color: #d14b29;
    transform: translatey(-5px);
    transition-duration: 0.2s;
}

#gasto{
    float:left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* #nuevo_tag > .tag{
    opacity: 0.5;
} */
