:root{
    --margin-default-width:10px;
    --border-default-width:1px;
    --border-radius-default:5px;
    --header-height:60px;
    --color-0:#080E07;
    --color-1:#191C18;
    --color-2:#D3350D;
    --color-3:#E0F2E9;
    --tag-color-0:#C6C013;
    --tag-color-1:#FF0035;
    --tag-color-2:#487246;
    --tag-color-3:#7A28CB;
    --tag-color-4:#154866;
}
html,body{
    height: 100%;
    margin:0px; padding: 0px;
    scrollbar-width: none;
}

body{
    background-color: var(--color-0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/

}

main{
    width: 100%;
    height: calc(100% - var(--header-height)); /*60 px altura fija del header*/

    background-color: var(--color-0);

    min-height: 500px; /*limita el tamaño minimo vertical, puede provocar que se pierda el margen de abajo cuando se activa*/
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/
    
    max-width: 2000px; /*limita el tamaño maximo horizontal*/

}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: clamp(20px, 2.5vw, 40px);
    color: var(--color-2);
    margin:0px;
    padding:0px; 
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: clamp(35px, 3vw, 50px);
    color: var(--color-3);
    margin:0px;
    padding:0px;
    line-height: 0px;
}

h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: clamp(15px, 1.5vw, 25px);
    color: var(--color-3);
    margin:0px;
    padding:0px;
    line-height: 0px;
    opacity: 0.75;
}

/*estilos de secciones*/

section{
    height: 100%;
    background-color: var(--color-0);
}

#seccion_contenido{
    width: calc(75% - var(--margin-default-width));
    float: right;
    margin-right: var(--margin-default-width);
}

/*estilos de cartas o paneles*/

.panel{
    background-color: var(--color-1);
    border-radius: var(--border-radius-default);
    
    width: calc(100% - 12px); /* 10px de margen + 2px de borde*/
    height: calc(100% - 12px);
    
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #e0f2e90a;
}

.panel-titulo{
    width: 100%;
    height: auto;
    background-color: var(--color-1);
}

#panel_lateral{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: var(--margin-default-width) 0px 0px var(--margin-default-width);
}

@media screen and (max-width: 900px){
    main{
        width: 900px;
        height: 1920px;
    }

    #seccion_contenido{
        width: calc(100% - 20px);
        margin-left: var(--margin-default-width);
        height: 70%;
    }
}