:root{
    --min-width-responsive:500px;
    --margin-default-width:10px;
    --border-default-width:1px;
    --border-radius-default:15px;
    --default-half-padding:5px;
    --default-padding:10px;
    --default-double-width:20px;
    --header-height:80px;
    --color-0:#080E07;
    --color-1:#191C18;
    --color-2:#D3350D;
    --color-3:#E0F2E9;
    --color-4:#e0f2e90a;
    --color-5:#414641;
    --tag-color-0:#C6C013;
    --tag-color-1:#A30021;
    --tag-color-2:#487246;
    --tag-color-3:#A9927D;
    --tag-color-4:#154866;
    --tag-color-5:#008DD5;
    --tag-color-6:#820B8A;
    --tag-color-7:#26408B;

}

::-webkit-scrollbar{
    display:none;
}

html,body{
    height: 100%;
    margin:0px; padding: 0px;
    scrollbar-width: none;
}

body{
    background-color: var(--color-0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/
}

main{
    width: 100%;
    height: calc(100% - var(--header-height));

    background-color: var(--color-0);

    min-height: 500px; /*limita el tamaño minimo vertical, puede provocar que se pierda el margen de abajo cuando se activa*/
    max-height: 1500px; /*permite que el main quede pegado al header cuando se hace zoom-out*/
    
    max-width: 2000px; /*limita el tamaño maximo horizontal*/
}

button{
    cursor: pointer;
    border-style: none;

    font-size: clamp(20px, 2vw, 25px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: var(--color-1);

    padding: 2px var(--margin-default-width) 4px var(--margin-default-width);

    transition-duration: 0.2s;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: clamp(20px, 2vw, 40px);
    color: var(--color-2);
    margin:0px;
    padding:0px; 
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: clamp(35px, 4vw, 55px);
    color: var(--color-3);
    margin:0px;
    padding:0px;
}

h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: clamp(15px, 1.2vw, 25px);
    color: var(--color-3);
    margin:0px;
    padding:0px;
    opacity: 0.75;
}

/*estilos de secciones*/

#seccion_contenido{
    width: calc(75% - 30px);
    height: calc(100% - 20px);
    float: right;
    margin:var(--margin-default-width);
}

/*estilos de cartas o paneles*/

.panel{
    background-color: var(--color-1);
    border-radius: var(--border-radius-default);
    
    width: calc(100% - 12px); /* 10px de margen + 2px de borde*/
    height: calc(100% - 12px);
    
    box-sizing: border-box;
    border-style: solid;
    border-width: var(--border-default-width);
    border-color: var(--color-4);
}

.panel-titulo{
    width: 100%;
    height: auto;
    background-color: var(--color-1);
}

@media screen and (max-width: 600px){
    main{
        width: 900px;
        height: 1920px;
    }

    #seccion_contenido{
        width: calc(100% - 20px);
        margin-right: var(--margin-default-width);
        height: 70%;
    }
}

.tag{
    margin: 10px 10px 0px 0px;
    border-radius: 100px;
    float:left;
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.5s;

    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff35;
}

.solid-tag{
    margin: 10px 10px 0px 0px;
    border-radius: 100px;
    float:left;
    transition-duration: 0.5s;

    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff35;
}

.tag h5, .solid-tag h5{
    margin:2px 5px 2px 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(15px, 1vw, 20px);

    color: var(--color-3);
}

#n-tag0{
    background-color: var(--tag-color-0);
}

#n-tag1{
    background-color: var(--tag-color-1);
}

#n-tag2{
    background-color: var(--tag-color-2);
}

#n-tag3{
    background-color: var(--tag-color-3);
}

#n-tag4{
    background-color: var(--tag-color-4);
}

#n-tag5{
    background-color: var(--tag-color-5);
}

#n-tag6{
    background-color: var(--tag-color-6);
}

#n-tag7{
    background-color: var(--tag-color-7);
}

.default-ico{
    transition: all 0.2s ease;
}

.default-ico:hover{
    transform: scale(1.2) rotate(10deg);
}