#tendencias{
    width: calc(100% - 20px);
    height: calc(20% - var(--margin-default-width));
    float:right;
    margin-right:var(--margin-default-width);
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 900px){
    #tendencias{
        width: 100%;
        height: 20%;
        margin: var(--margin-default-width) 0px var(--margin-default-width) 0px;
    }
}

.tendencias-contenido{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--color-0);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#tendencias h4{
    width: 100%;
    transition-duration: 0.50s;
    margin-top: 30px;
}

span{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-left: 10px;
}

span:hover{
    width: 20px;
    height: 20px;
    transition-duration: 0.25s;
}

.punto-on{
    width: 20px;
    height: 20px;
    opacity: 1;
    transition-duration: 0.25s;
}

.punto-off{
    opacity: 0.5;
    transition-duration: 0.25s;
}