#trends{
    width: calc(100%);
    height: calc(15%);
    float:right;
    /* margin-right:var(--margin-default-width); */
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 600px){
    #trends{
        width: 100%;
        height: 15%;
        margin: var(--margin-default-width) 0px var(--margin-default-width) 0px;
    }
}

.trends-content{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: var(--color-0);

    border-style: solid;
    box-sizing: border-box;
    padding: 10px;
    border-width: var(--border-default-width);
    border-color: var(--color-4);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#trends h4{
    width: 100%;
    transition-duration: 0.50s;
}

span{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--color-2);
    margin-left: 10px;
}

.punto-on{
    width: 10px;
    height: 10px;
    opacity: 1;
    transition-duration: 0.25s;
}

.punto-off{
    opacity: 0.5;
    transition-duration: 0.25s;
}